
{{> head }}
    
{{> navbar }}

    <div class="col-8">
        <h1>Un carro xdxd</h1>
        <p>
            Es un carrito we
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/img1.jpg" class="img-thumbnail">
    </div>

{{> footer}}