
{{> head }}
    
{{> navbar }}

    <div class="col-8">
        <h1>esto es action</h1>
        <p>
            Es accion we
        </p>
    </div>
    <div class="col-4">
        
    </div>

{{> footer}}